.header {
	text-align: center;
	background-color: darkcyan;
	color: indigo;
	height: 80px;
}

.folder {
	background-color: beige;
	width: 150px;
	height: 400px;
	float: left;
}
#dropdown{
	position: relative;
}


.main {
    width:80%;
   float: left;
   padding:10px;
}

.footer {
	text-align: center;
	background-color: darkcyan;
	color: white;
	clear:both;
}

.error{
	color:red;
}